<!DOCTYPE html>
<html>
<head>
  <title>Clash of Clans Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Clash of Clans Player Stats</h1>
  <form id="playerForm">
    <input type="text" id="playerTag" placeholder="#8L9QJVCQ" required>
    <button type="submit">Search</button>
  </form>

  <div id="result"></div>
  <script src="script.js"></script>
</body>
</html>
